.App {
  align-content: center;
}

.Title {
  text-align: center;
  position: relative;
  top: 15px;
}

.urCards {
  font-size: 24px;
  color: rgba(25, 25, 200, 0.8);
}

.Chips{
  position: relative;
  left: 90%;
}

.ChipCount {
  text-align: center;
  height: 65px;
  width: 65px;
  line-height: 65px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  background-color: beige;
}

.Discard {
  position: relative;
  top: 10%;
  left: 90%;
  width: 200px;
}
